body{
  background: #EFF;
}

#header, #wrapper, #footer{
  width: 960px;
  margin: auto;
  background: white;
  padding: 5px;
}

#header{
  margin-top: 30px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#wrapper{
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 5px;
}

#footer{
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5px;
}

#user_nav{
  float: right;
}

#header #page_title{
  font-size: 26px;
  font-weight: bold;
}

#header #page_description{
  font-size: 18px;
  font-weight: normal;
}

#flash_notice{
  border: 2px solid #006;
  background: #8AF;
  color: black;
  padding: 3px;
  width: 300px;
  margin-bottom: 10px;
}