<ul>
  <li><%= link_to "Manage Breweries", admin_breweries_path %></li>
  <li><%= link_to "Manage Styles", admin_styles_path %></li>
  <li><%= link_to "Add New Batch", new_admin_batch_path %></li>
</ul>